name: Robot Framework Master Pipeline

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        # AppiumLibrary hier toegevoegd:
        pip install robotframework robotframework-browser robotframework-pabot robotframework-requests robotframework-datadriver[XLS] robotframework-appiumlibrary
        sudo apt-get update
        sudo apt-get install -y xvfb

    - name: Initialize Browser Library
      run: rfbrowser init

    - name: Run All Tests (Web & Mobile)
      env:
        SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
        SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
      run: |
        # We gebruiken pabot voor snelheid, en geven de secrets mee als variabelen
        xvfb-run pabot --processes 3 \
        --variable HEADLESS:True \
        --variable SLOWMO:0.0s \
        --variable SAUCE_USERNAME:${{ secrets.SAUCE_USERNAME }} \
        --variable SAUCE_ACCESS_KEY:${{ secrets.SAUCE_ACCESS_KEY }} \
        -d results tests

    - name: Deploy Report to GitHub Pages
      if: always()
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./results